<div class="form-group"  style="margin-top: 100px;">
<label for="title">Título</label>
  <input type="text" class="form-control" [(ngModel)]="query" (keyup)="search()">
<label for="subject">Assunto</label>
  <select class="form-control" [(ngModel)]="selected" (change)="search()">
    <option *ngFor="let subject of subjects" [value]="subject.id">
      {{subject.name}}
    </option>
  </select>
</div>

<div class="container l-container row justify-content-center">
  <div class="card" *ngFor="let post of postsList">
    <div class="container-card">
        <avatar [email]="post.subjectValue" size="60" [background]="post.color || '#353b41'" [displayType]="'circle'"></avatar>
      <p><a href="view/{{post.id}}">{{post.title}} - {{post.subjectValue}}</a></p>
    </div>
  </div>
</div>
