<div id="form-container" class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <label for="title">Título do artigo</label>
        <input class="form-control" name="title" type="text" [(ngModel)]="title">
      </div>
      <div class="form-group">
        <label for="subject">Assunto/Tema</label>
        <input class="form-control"  name="subject" type="text" [(ngModel)]="subject">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12" id="editor-container">
      <quill-editor [(ngModel)]="editorContent"
            [options]="editorOptions"
            (blur)="onEditorBlured($event)"
            (focus)="onEditorFocused($event)"
            (ready)="onEditorCreated($event)"
            (change)="onContentChanged($event)"></quill-editor>
    </div>
  </div>
  <div class="row" style="position:absolute;bottom: 0px;">
    <a class="btn btn-primary" (click)="sendPost()">POSTAR</a>
    <a class="btn btn-primary" (click)="getAllPosts()">VER POSTS</a>
  </div>
   <ul *ngIf="see" style="position:absolute;bottom: 0px;">
      <li *ngFor="let post of posts | async" >{{ post | json }}</li>
  </ul>
</div> 

<!--<div [innerHTML]="content"></div> -->