<div class="container l-container" style="padding-top: 100px;">
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="title">Título do artigo</label>
        <input class="form-control" name="title" type="text" [(ngModel)]="title">
      </div>
      <div class="form-group">
        <label for="subject">Assunto/Tema</label>
        <select [(ngModel)]="selected">
          <option *ngFor="let subject of subjects; let i = index" [value]="i">
            {{subject.name}}
          </option>
        </select>
        <!--<input class="form-control"  name="subject" type="text" [(ngModel)]="subject">-->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col" id="editor-container">
      <quill-editor id="editor-container" [style]="{background: '#fff'}" [(ngModel)]="editorContent" [options]="editorOptions" (blur)="onEditorBlured($event)"
        (focus)="onEditorFocused($event)" (ready)="onEditorCreated($event)" (change)="onContentChanged($event)"></quill-editor>
    </div>
  </div>
  <div class="row" style="position:absolute;bottom: 0px;">
    <a class="btn btn-primary" (click)="sendPost()">POSTAR</a>
  </div>
</div>

<!--<div [innerHTML]="content"></div> -->