<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{modal.title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>{{modal.body}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Entendi</button>
  </div>
</ng-template>

<div class="container l-container" style="padding-top: 100px;">
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="title">Título do artigo</label>
        <input class="form-control" name="title" type="text" [(ngModel)]="title">
      </div>
      <div class="form-group">
        <label for="subject">Assunto/Tema</label>
        <select class="form-control" [(ngModel)]="selected">
          <option *ngFor="let subject of subjects; let i = index" [value]="i">
            {{subject.name}}
          </option>
        </select>
        <!--<input class="form-control"  name="subject" type="text" [(ngModel)]="subject">-->
      </div>
    </div>
  </div>
  <div class="column">
    <div class="col" id="editor-container">
      <quill-editor id="editor-container" [style]="{background: '#fff'}" [(ngModel)]="editorContent" [options]="editorOptions" (blur)="onEditorBlured($event)"
        (focus)="onEditorFocused($event)" (ready)="onEditorCreated($event)" (change)="onContentChanged($event)"></quill-editor>
    </div>
    <button class="btn btn-locke" (click)="sendPost(content) && open(content)" style="margin-top: 20px;     width: 100%;
    ">POSTAR</button>
  </div>
</div>

<!--<div [innerHTML]="content"></div> -->